@font-face {
  font-family: Kubert;
  src: url(../fonts/10295.ttf);
}
$green: #76b729;
$blue: #1f3b83;
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Kubert;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #33ccff;
  background-repeat: no-repeat;

  background: -webkit-linear-gradient(to top, #33ccff, #ffcc00);
  background: -moz-linear-gradient(to top, #33ccff, #ffcc00);
  background: -ms-linear-gradient(to top, #33ccff, #ffcc00);
  background: -o-linear-gradient(to top, #33ccff, #ffcc00);
  background: linear-gradient(to top, #33ccff, #ffcc00);
}
.internal1{
   background: #33CCFF;
   .top_block{
     background: url(../img/wave_line.png) no-repeat top, linear-gradient(to top, #33ccff, #ffcc00);
    }
 }
.internal2{
  background: #F58531;
  .top_block{
    background: url(../img/wave_line.png) no-repeat 0px -115px, linear-gradient(to top, #f58531, #e83894);

  }
}
.internal3{
  background: #713E6C;
  .top_block{
    background: url(../img/wave_line.png) no-repeat 0px -100px, linear-gradient(to top, #713e6c, #f3e00d);
  }
}
.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.row {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 53px;
  padding-top: 40px;
  .logo {
    float: left;
    height: 53px;
    margin: 0 80px 0 30px;
  }
  .menu {
    height: 53px;
    float: left;
    li {
      display: inline-block;
      padding: 10px 30px;
      & a {
        color: $green;
        text-decoration: none;
        font-size: 18px;
      }
      & :hover {
        color: $blue;
      }
    }
  }
}
.landing {
  width: 100%;
  position: relative;
  .big {
    width: 100%;
  }
  .small{
    display: none;
  }
}
.content {
  margin: -3px 0 40px 0;
  background: #fff;
  border-radius: 10px;
  min-height: 100px;
  padding: 20px 30px;
  color: #333;
  text-align: center;
  p {
    font-size: 14px;
    font-family: Arial;
    line-height: 1.5em;
    padding: 10px 0;
    text-align: left;
    a {
      color: $green;
      text-decoration: underline;
    }
    a:hover {
      text-decoration: none;
    }
  }
  h1, h2, h3, h4 {
    color: $blue;
    padding: 10px 0 15px 0;
    text-align: left;
  }
  ul, ol {
    padding: 10px 0 20px 40px;
    text-align: left;
    font-size: 14px;
    font-family: Arial;
    line-height: 1.5em;

  }
  img {
    padding: 5px;
    border: 1px solid $blue;
    width: 640px;
  }
}
.first_block{
  background:url("../img/wave_line.png") no-repeat top, linear-gradient(to top, #33ccff, #ffcc00);
}
.second_block{
  background:url("../img/wave_line.png") no-repeat 0px -115px, linear-gradient(to top, #f58531, #e83894);
}
.third_block{
  background:url("../img/wave_line.png") no-repeat 0px -100px, linear-gradient(to top, #713e6c, #f3e00d);
}
.footer {
  background:  url("../img/grass_bg.png") repeat-x bottom, url("../img/rainbow.png") no-repeat bottom right, rgba(255,255,255, 1);
  .footer_item{
    text-align: center;
    font-size: 12px;
    padding: 30px 0 10px 0;
    width: 100%;
    height: 400px;
    clear: both;
    position: relative;
    .buy{
      position: absolute;
      left: 353px;
      top: 60px;
    }
    div{
      position: absolute;
      top:10%;
      left: 10%;
      img{
        width: 360px;
        float: left;
      }
      .item_button{
        margin: 0 0 0 100px;
      }
    }
  }
}
.tech{
  background: #4a883e;
  .tech_item{
    text-align: center;
    img{
      width: 100%;
    }
  }

}
.anime2{
  width: 246px;
  position: absolute;
  top: 269px;
  left: 305px;
}
.internal1_anime{
  width: 246px;
  position: absolute;
  top: 269px;
  left: 305px;
}
.internal2_anime{
  width: 246px;
  position: absolute;
  top: 50px;
  left: 0px;
}
.internal3_anime{
  width: 85px;
  position: absolute;
  top: 280px;
  left: 100px;
}
.anime3{
  width: 246px;
  position: absolute;
  top: 50px;
  left: 0px;
}
.anime1{
  width: 85px;
  position: absolute;
  top: 280px;
  left: 100px;
}
.spinning_beams {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.internal1_beams{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.internal2_beams{
  animation: nudge 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.internal3_beams{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.cloud{
  animation: nudge 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.slogan{
  height: 80px;
  background: #ffffff;
  opacity: 0.7;
  padding-top: 22px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.text{
  color: $blue;
  font-size: 24px;
  position: absolute;
  z-index: 99;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
.item_button{
  padding:15px 30px;
  background: $green;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: #fff;
  font-family: Kubert;
}
.item_button:hover{
  cursor: pointer;
}
.article_block{
  width: 100%;
  background: #fff;
  background-image: none;
  line-height: 1.5em;
  height: 75px;
  padding-top: 20px;
  border-bottom: 1px solid green;
  padding-bottom: 30px;
  .article_item{
    padding: 20px;
    color: $green;
    width: 100%;
    .headers{
      float: left;
      width: 70%;
    }
    .more_button{
      text-align: center;
      width: 30%;
      float: left;
    }
    h2{
      font-size: 30px;
    }
    h3{
      font-size: 20px;
    }
  }

}
.footer_text p{
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
  margin: 10px 0;
}
.white{
  background: white;
  border:1px solid $green;
  color: $green;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {  transform:rotate(0deg);  }
  to {  transform:rotate(360deg);  }
}
@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }

  40% {
    transform: translate(1600px, 0);
  }

  90% {
    transform: translate(-400px, 0);
  }
}
@media (max-width: 960px) {
  .header {
    text-align: center;
    margin-bottom: 20px;
    .logo {
      float: none;
      margin: 0 0 20px 0;
    }
    .menu{
      width: 100%;
    }
  }
  .landing{
    .big{
      display: none;
    }
    .small{
      width: 100%;
      display: block;
    }
  }
  .spinning_beams{
    display: none;
  }
  .cloud{
    display: none;
  }
  .headers{
      h2{
      font-size: 24px;
    }
  }
  .footer{
    background:  url("../img/grass_bg.png") repeat-x bottom, rgba(255,255,255, 1);
  }


}
@media (max-width: 740px) {
  .footer .footer_item div img{
    width: 240px;
  }
  .footer .footer_item div .item_button {
    margin: 0 0 0 75px;
  }
  .footer .footer_item .buy {
    position: absolute;
    left: 230px;
    top: 60px;
  }
}
@media (max-width: 640px) {
  .header {
    .menu {
      height: 110px;
      li{
        padding: 10px 15px;
        display:block;
        text-align: center;
        background: #fff;
      }
    }
  }
  .content{
    img{
      width: 100%;
    }
  }
  .item_button{
    font-size: 14px;
    padding: 10px;
  }
  .article_block{
    .article_item{
      h2{
        font-size: 18px;
      }
      h3{
        font-size: 14px;
      }
    }
  }
  .footer .footer_item div img{
    width: 200px;
  }
  .footer .footer_item {
    height: 275px;
  }


}
@media (max-width: 480px) {
  .header {
    text-align: center;
    margin-bottom: 20px;
    .logo {
      float: none;
    }
  }
  .landing{
    display: none;
  }
  .article_block{
    .article_item{
      h2{
        font-size: 14px;
      }
      h3{
        font-size: 10px;
      }
    }
  }
  .footer .footer_item div .item_button{
    font-size: 10px;
    padding: 10px;
    margin: 0 0 0 30px;
  }
  .footer .footer_item div .item_button.buy{
    left: 144px;
    top: 39px;
  }
  .footer .footer_item div img{
    width: 150px;
  }
}