.form-group .file-upload-default {
  visibility: hidden;
  position: absolute;
}

.form-group .file-upload-info {
  background: transparent;
}

table {
    width: 100% !important;
}

div.wrapper {
    overflow: hidden !important;
}

.select2-container {
    width: 100% !important;
}

.alerts-box {
    z-index: 99999;
    position: absolute;
    top: 10px;
    right: 50%;
    width: 260px;
    margin-right: -130px;
}

.sidebar-menu {
    margin-bottom: 120px;
}
