@font-face {
  font-family: Kubert;
  src: url(../fonts/10295.ttf); }
* {
  margin: 0;
  padding: 0; }

body {
	margin: 0 0 134px 0;
  font-family: Kubert;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #33ccff;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to top, #33ccff, #ffcc00);
  background: -moz-linear-gradient(to top, #33ccff, #ffcc00);
  background: -ms-linear-gradient(to top, #33ccff, #ffcc00);
  background: -o-linear-gradient(to top, #33ccff, #ffcc00);
  background: linear-gradient(to top, #33ccff, #ffcc00); }

.internal1 {
  background: #33CCFF; }
  .internal1 .top_block {
    background: url(../img/wave_line.png) no-repeat top, linear-gradient(to top, #33ccff, #ffcc00); }

.internal2 {
  background: #F58531; }
  .internal2 .top_block {
    background: url(../img/wave_line.png) no-repeat 0px -115px, linear-gradient(to top, #f58531, #e83894); }

.internal3 {
  background: #713E6C; }
  .internal3 .top_block {
    background: url(../img/wave_line.png) no-repeat 0px -100px, linear-gradient(to top, #713e6c, #f3e00d); }

.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

.row {
  max-width: 1200px;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 53px;
  padding-top: 40px; }
  .header .logo {
    float: left;
    height: 53px;
    margin: 0 80px 0 30px; }
  .header .menu {
    height: 53px;
    float: left; }
    .header .menu li {
      display: inline-block;
      padding: 10px 30px; }
      .header .menu li a {
        color: #76b729;
        text-decoration: none;
        font-size: 18px; }
      .header .menu li :hover {
        color: #1f3b83; }

.landing {
  width: 100%;
  position: relative; }
  .landing .big {
    width: 100%; }
  .landing .small {
    display: none; }

.content {
  margin: -3px 0 40px 0;
  background: #fff;
  border-radius: 10px;
  min-height: 100px;
  padding: 20px 30px;
  color: #333;
  text-align: center; }
  .content p {
    font-size: 14px;
    font-family: Arial;
    line-height: 1.5em;
    padding: 10px 0;
    text-align: left; }
    .content p a {
      color: #76b729;
      text-decoration: underline; }
    .content p a:hover {
      text-decoration: none; }
  .content h1, .content h2, .content h3, .content h4 {
    color: #1f3b83;
    padding: 10px 0 15px 0;
    text-align: left; }
  .content ul, .content ol {
    padding: 10px 0 20px 40px;
    text-align: left;
    font-size: 14px;
    font-family: Arial;
    line-height: 1.5em; }
  .content img {
    padding: 5px;
    border: 1px solid #1f3b83;
    width: 640px; }

.first_block {
  background: url("../img/wave_line.png") no-repeat top, linear-gradient(to top, #33ccff, #ffcc00); }

.second_block {
  background: url("../img/wave_line.png") no-repeat 0px -115px, linear-gradient(to top, #f58531, #e83894); }

.third_block {
  background: url("../img/wave_line.png") no-repeat 0px -100px, linear-gradient(to top, #713e6c, #f3e00d); }

.footer {
  background: url("../img/grass_bg.png") repeat-x bottom, url("../img/rainbow.png") no-repeat bottom right, white; }
  .footer .footer_item {
    text-align: center;
    font-size: 12px;
    padding: 30px 0 10px 0;
    width: 100%;
    height: 400px;
    clear: both;
    position: relative; }
    .footer .footer_item .buy {
      position: absolute;
      left: 353px;
      top: 60px; }
    .footer .footer_item div {
      position: absolute;
      top: 10%;
      left: 10%; }
      .footer .footer_item div img {
        width: 360px;
        float: left; }
      .footer .footer_item div .item_button {
        margin: 0 0 0 100px; }

.tech {
  background: #4a883e; }
  .tech .tech_item {
    text-align: center; }
    .tech .tech_item img {
      width: 100%; }

.anime2 {
  width: 246px;
  position: absolute;
  top: 269px;
  left: 305px; }

.internal1_anime {
  width: 246px;
  position: absolute;
  top: 269px;
  left: 305px; }

.internal2_anime {
  width: 246px;
  position: absolute;
  top: 50px;
  left: 0px; }

.internal3_anime {
  width: 85px;
  position: absolute;
  top: 280px;
  left: 100px; }

.anime3 {
  width: 246px;
  position: absolute;
  top: 50px;
  left: 0px; }

.anime1 {
  width: 85px;
  position: absolute;
  top: 280px;
  left: 100px; }

.spinning_beams {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.internal1_beams {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.internal2_beams {
  animation: nudge 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.internal3_beams {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.cloud {
  animation: nudge 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.slogan {
  height: 80px;
  background: #ffffff;
  opacity: 0.7;
  padding-top: 22px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.text {
  color: #1f3b83;
  font-size: 24px;
  position: absolute;
  z-index: 99;
  bottom: 35px;
  text-align: center;
  width: 100%; }

.item_button {
  padding: 15px 30px;
  background: #76b729;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: #fff;
  font-family: Kubert; }

.item_button:hover {
  cursor: pointer; }

.article_block {
  width: 100%;
  background: #fff;
  background-image: none;
  line-height: 1.5em;
  height: 75px;
  padding-top: 20px;
  border-bottom: 1px solid green;
  padding-bottom: 30px; }
  .article_block .article_item {
    padding: 20px;
    color: #76b729;
    width: 100%; }
    .article_block .article_item .headers {
      float: left;
      width: 70%; }
    .article_block .article_item .more_button {
      text-align: center;
      width: 30%;
      float: left; }
    .article_block .article_item h2 {
      font-size: 30px; }
    .article_block .article_item h3 {
      font-size: 20px; }

.footer_text p {
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
  margin: 10px 0; }

.white {
  background: white;
  border: 1px solid #76b729;
  color: #76b729; }
.menu_collapse{
  display: none;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0); }
  40% {
    transform: translate(1600px, 0); }
  90% {
    transform: translate(-400px, 0); } }
@media (max-width: 1024px) 
{
  .header .menu li{
        padding: 10px 26px;
  }

}
@media (max-width: 960px) {
	body{
		margin: 0 0 80px 0;
	}
  .header {
    text-align: center;
    margin-bottom: 20px; 
   
   
  }
    .header .logo {
      float: none;
      margin: 0 0 20px 0; }
    .header .menu {
      width: 100%; }

  .landing .big {
    display: none; }
  .landing .small {
    width: 100%;
    display: block; }

  .spinning_beams {
    display: none; }

  .cloud {
    display: none; }

  .headers h2 {
    font-size: 24px; }

  .footer {
    background: url("../img/grass_bg.png") repeat-x bottom, white; } }
@media (max-width: 740px) {
	body{
		margin: 0 0 60px 0;
	}
  .footer .footer_item div img {
    width: 240px; }

  .footer .footer_item div .item_button {
    margin: 0 0 0 75px; }

  .footer .footer_item .buy {
    position: absolute;
    left: 230px;
    top: 60px; 
  } 
 .header{
    height: auto;
    float: left;
  }
  .header .logo{
    padding: 0 0 20px 0;
    background: #fff;
    margin: 0 auto;
  }
  .header .menu li{
    padding: 10px 15px;
  }
  .row{
    float: left;
    width: 100%;
  }
   .row .menu{
    background: #fff;
   }

}
 
@media (max-width: 640px) {
	body{
		margin: 0 0 50px 0;
	}
  .collpase_nav .top_block .header{
    background: #fff;
    float: left;
    height: inherit;
  }
  .footer .footer_item .buy{
        left: 193px;
  }

  .row {
    float: left;
    width: 100%;
  }
  .header .logo {
    float: none;
    margin: 0 auto 20px;
    position: relative;
    width: 210px;
  }
  .menu_collapse{
    width: 35px;
    height: 28px;
    padding-top: 7px;
    background: #76b729;
    position: absolute;
    display: block;
    right: -75px;
    top: 23px;
    border-radius: 9px;
    text-decoration: none;
    color: #fff;
    font-size: 46px;
    line-height: 0;
    /*transform: rotate(45deg);*/
    transform: rotate(0deg);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5); 
  } 
  .menu_collapse span {
    position: relative;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 0;
    width: 21px;
    height: 2px;
    background-color: #ededed;
    border-radius: 100px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
        display: inline-block;
  }
 
 
.menu_collapse span:after, .menu_collapse span:before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      height: 100%;
      background-color: #ededed;
      border-radius: 100px;
      -webkit-transition: -webkit-transform .2s ease-out;
      transition: -webkit-transform .2s ease-out;
      transition: transform .2s ease-out;
      transition: transform .2s ease-out , -webkit-transform .2s ease-out;
  }
   .menu_collapse span:before {
    bottom: calc(100% + 6px);
 }
  .menu_collapse span:after {
    top: calc(100% + 6px);
  }
  .menu_collapse.active span {
     background: transparent; 
  }
  .menu_collapse.active span:before {
    bottom: auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .menu_collapse.active span:after {
      top: auto;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }


  .header .menu {
    /*height: 110px; */
    height: auto;
    display: none;
  }
  .header .menu.active
  {
    display: block;  
  }

    .header .menu li {
      padding: 10px 15px;
      display: block;
      text-align: center;
      background: #fff; }
  

  .content img {
    width: 100%; }

  .item_button {
    font-size: 14px;
    padding: 10px;
    margin-left: -20px;
   }

  .article_block .article_item h2 {
    font-size: 18px; }
  .article_block .article_item h3 {
    font-size: 14px; }

  .footer .footer_item div img {
    width: 200px; }

  .footer .footer_item {
    height: 275px; 
  } 
  }
@media (max-width: 480px) {
	body{
		margin: 0 0 30px 0;
	}
  .header {
    text-align: center;
    margin-bottom: 20px; 
  }
    .header .logo {
      float: none; 
    } 

  /*.landing {
    display: none; }*/

  .article_block .article_item h2 {
    font-size: 16px; }
  .article_block .article_item h3 {
    font-size: 12px; }

  .footer .footer_item div .item_button {
    font-size: 10px;
    padding: 10px;
    margin: 0 0 0 30px; }

  .footer .footer_item div .item_button.buy {
    left: 144px;
    top: 39px; }

  .footer .footer_item div img 
  {
    width: 150px; 

  } 
  
  .slogan
  {
    height: 50px;
  } 
  .text{
    font-size: 20px;
  }
   
  .article_block .article_item{
    padding: 0;

  }
  .article_block .article_item .more_button
   {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
   
  .article_block .article_item .headers{
    width: 100%; 
    text-align: center;
  }
   
  .item_button{
    margin-left: 0;
    margin-top: 10px;
  }
  


  }
  @media (max-width: 375px) {
    .menu_collapse{
      right: -50px;
      
    }
    .text .item_button{
          display: inline-block;
    }
    .text{
      bottom: 3px;
    }
    .article_block{
      height: initial;
    }
    

  }

/*# sourceMappingURL=main.css.map */
.first-block-title{
  position: absolute;
  font-size: 30px;
  left: 0;
  top: 222px;
  color: white;
}
.samo {
  text-align: center;
  position: fixed;
  bottom: 0;
  background: #76b729;
  z-index: 199;
  width: 100%;
}
.samo img{
  width: 100%;
}
