@media (max-width: 1920px) {
  .mobile-image {
    img {
      display: none;
    }
  }
}

@media (max-width: 1680px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1152px) {

}

@media (max-width: 1080px) {
}

@media (max-width: 1050px) {
}

@media (max-width: 1024px) {
  .doc {
    height: 400px;
    .inner-container {
      .richtext {
        h1 {
          font-size: 34px;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .inner-container {
    .richtext {
      position: relative;
      top: 0;
      right: 0;
      h2 {
        color: #64184f;
        text-align: center;
        text-shadow: none;
        padding: 15px 0;
      }
    }
  }
  .sidebar, .content {
    font-size: 14px;
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 18px;
    }
    h3, h4 {
      font-size: 16px;
    }
  }
  .doc {
    .inner-container {
      .richtext {
        h1 {
          font-size: 28px;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 854px) {

}

@media (max-width: 800px) {
}

@media (max-width: 768px) {
}

@media (max-width: 736px) {
  .container {
    width: 100%;
  }
  .burger {
    background: #64184f;
    width: 87px;
    height: 100%;
    padding-top: 30px;
    float: right;
  }
  .nav-item {
    background: #898989;
    border-bottom: 1px solid #fff;
    .nav-link{
      padding-left:45px;
    }
  }
  .active {
    background: #64184f;
  }
  .navbar-nav {
    a {
      color: #ffffff;
      font-size: 14px;
      padding: 20px;
    }
  }

  footer {
    .nav {
      display: block;
      .nav-item {
        border: none;
        width: 100%;
        background: none;
        padding-bottom: 10px;
      }
    }
  }
  .disclaimer {
    border-top: 1px solid #fff;
    padding-top: 20px;
  }
  .mobile-image {
    img {
      display: block;
      width: 100%;
    }
  }
  .doc {
    background: #fff;
    height: auto;

    .inner-container {
      margin: 0;
      .richtext {
        max-width: 100%;
        h1 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 732px) {
}

@media (max-width: 667px) {
}

@media (max-width: 640px) {

}

@media (max-width: 568px) {

}

@media (max-width: 540px) {
}

@media (max-width: 480px) {

}

@media (max-width: 414px) {

}

@media (max-width: 412px) {
}

@media (max-width: 375px) {
  .inner-container{
    .richtext{
      .disease{
        background: none;
      }
    }
  }
}

@media (max-width: 360px) {
  .inner-container .richtext .disease a{
    width: 100%;
  }
}

@media (max-width: 320px) {

}