.top-menu {
  background: #5d5d5d;
}

.top-tabs {
  margin-top: 20px;
  .nav-item {
    font-size: 15px;
    margin-right: 5px;
    a {
      color: #64184f;
      padding: 10px 20px;
      font-weight: 700;
      background: #cac8c8;
      border-bottom: 1px solid #cac8c8;
    }
    a:hover {
      background: #ffffff;
      border-bottom: 1px solid #cac8c8;
    }
    .active {
      background: #ffffff;
      border-bottom: 1px solid #ffffff;
    }
    .active:hover {
      border-bottom: 1px solid #ffffff;
    }
  }
}

.logo {
  max-height: 75px;
  max-width: 242px;
  margin: 10px 10px 20px 10px;
  width: 100%;
}

.safety, .information {
  float: right;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  margin: 0;
  padding: 3px 9px;
  a {
    color: #64184f;
    &:hover {
      text-decoration: none;
    }
  }
}

.information {
  margin-top: 5px;
}

.safety {
  display: inline;
  border-right: 1px solid #686767;
  border-bottom: 1px solid #686767;
  border-left: 1px solid #686767;
  min-height: 30px;
  border-radius: 0 0 10px 10px;
  padding: 7px 8px 7px;
  background: #ccc;
  img {
    margin-right: 10px;
  }
}

footer {
  padding: 30px 0;
  background: #333;
  color: #fff;
  font-size: 13px;
  a {
    color: #fff;
  }
  a:hover {
    text-decoration: none;
    color: #fff;
  }
  .nav-item {
    border-right: 2px solid;
    .nav-link {
      padding: 0 1em;
    }
  }
  .nav-item:last-of-type {
    border-right: none;
  }
  .disclaimer {
    font-size: 85%;
    padding-left: 22px;
    margin-top: 20px;
  }

}

.inner-container {
  position: relative;
  margin-bottom: 20px;
  .slider {
    width: 100%;
  }
  .richtext {
    position: absolute;
    text-align: right;
    right: 25px;
    top: 50px;
    h2, h3 {
      font-size: 18px;
      color: #ffffff;
      text-align: left;
      text-shadow: 2px 1px 4px black;
      font-weight: bold;
      text-transform: uppercase;
    }
    .disease {
      padding-right: 5px;
      box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
      background: #e6e6e6 url("/images/chevron.png") no-repeat 95% 90%;
      margin-bottom: 10px;
      a {
        color: #64184f;
        display: block;
        max-width: 330px;
        padding: 0 0 1px 0;
      }
      a:hover {
        text-decoration: none;
      }
      img {
        float: left;
        width: 75px;
        max-width: 100%;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      p {
        text-align: left;
        padding-bottom: 4px;
        font-size: 14px;
      }
      strong{
        //font-size: 16px;
      }
    }
    .blue {
      border-top: 5px solid #417ebe;
    }
    .yellow {
      border-top: 5px solid #f3b91a;
    }
  }
}

.doc {
  background: #cccccc url("http://placehold.it/1140x410") no-repeat center;
  border-top: 2px solid #64184f;
  height: 440px;
  .inner-container {
    position: inherit;
    .richtext {
      max-width: 450px;
      top: 5px;
      h1 {
        font-size: 36px;
        color: #64184f;
      }
      h2 {
        color: #e72637;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

}

.content {
  padding-top: 20px;
  color: #64184f;
  img{
    width: 100%;
  }
  .fl {
    float: left;
    padding: 0 20px 0 0;
  }
  .tab-block{
    margin: 20px 0;
    .tab-pane{
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      padding: 20px;
    }
    .nav-tabs{

      .nav-item{
        background: linear-gradient(to bottom, #dfe0e5 0, #dfe0e5 50%, #c8c9ce 51%, #c8c9ce 100%);
        color: #64184f;
        border-radius: 0;
        margin-right: 10px;
        padding: 0.5em 1em;
        display: block;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
      }
      .active{
        background: linear-gradient(to bottom, #711c5b 0, #711c5b 50%, #64184f 51%, #64184f 100%);
        color: #fff;

      }
    }
  }
}


.sidebar {
  padding-top: 20px;
  color: #64184f;
  .call-out {
    background: url("../images/callout_background.jpg") no-repeat center;
    border-top: 6px solid #ccc;
    background-size: cover;
    a {
      text-decoration: none;
      background: url("../images/callout-chevron-red.png") no-repeat 95% 24px;
      display: block;
      padding: 18px 40px 14px 12px;
    }
    strong {
      color: #d42b39;
      font-size: 14px;
    }
    p {
      font-size: 12px;
      color: #333;
    }
  }
}

.isi-rule {
  padding-bottom: 20px;
  background: url("../images/isi-rule.png") no-repeat center bottom;
}

.border-right {
  border-right: 1px solid #64184f;
}

.section-menu {
  background: linear-gradient(to bottom, #711c5b 0, #711c5b 50%, #64184f 51%, #64184f 100%);
  border-bottom: 2px solid #a26393;
  font-weight: bold;
  a {
    color: white;
    font-size: 14px;
  }
  a:hover {
    color: #64184f;
    background: linear-gradient(to bottom, #dfe0e5 0, #dfe0e5 50%, #c8c9ce 51%, #c8c9ce 100%);
  }

  .nav-item:before {
    content: "";
    border-left: 1px solid #a47096;
    display: block;
    height: 100%;
    position: absolute;

  }
  .nav-item:after {
    content: "";
    border-right: 1px solid #a47096;
    display: block;
    height: 100%;
    position: absolute;
    right: 15px;
    top: 0;
  }
  .dropdown-menu {
    border: none;
    border-radius: unset;
    min-width: 19rem;
    padding-top: 0;
    .nav-item:before, .nav-item:after {
      display: none;
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.yellow-border {
  border-top: 5px solid #f3b91a;
}

.blue-border {
  border-top: 5px solid #417ebe;
}

.related {
  img {
    float: left;
    max-width: 180px;
    margin: 0 10px 0 0;
  }
  a {
    color: #64184f;
    float: left;
    background: #e6e6e6;
  }
  a:hover {
    text-decoration: none;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 13px;
    color: #333;
  }
}

.related-header {
  color: #64184f;
  .btn {
    background: #64184f;
    color: #fff;
    border-radius: 0;
    padding: 10px 35px;
    width: auto;
  }
}

.related-two {
  .related {
    margin-bottom: 20px;
    float: left;
  }
}

.my-slider-uro {
  background: url("../images/mUC_bluefacets_hero_background.jpg") repeat-x center !important;
  .carousel-item{
    background: white;
  }
  .carousel-control-prev-icon {
    height: 46px;
    background: url("../images/carousel-left.png") no-repeat;
  }
  .carousel-control-next-icon {
    height: 46px;
    background: url("../images/carousel-right.png") no-repeat;
  }
  .carousel-indicators {
    li {
      background-color: #dadada;
      height: 12px;
      max-width: 12px;
      border-radius: 10px;
    }
    li.active {
      background-color: #333;
    }
  }
}
.my-slider {
  background: url("../images/NSCLC_bluefacets_hero_background.jpg") repeat-x center;
}


.sub-slider {
  padding: 20px 0 0 0;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #64184f;
  background: #f2f5f9 url("../images/chevron.png") no-repeat 95% 30px;
  &:last-of-type {
    border-right: none;
  }
  a {
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    float: left;
    margin: 0 10px 0 20px;
    padding-bottom: 30px;
  }
  .sub-slider-block {
    padding: 0 30px 0 0;
    h3 {
      font-size: 16px;
      font-weight: 700;
    }
    p {
      font-size: 13px;
    }
  }
}

.my-header {
  img {
    width: 100%;
  }
}

h1{
  font-size: 2.0rem !important;
}
h2{
  font-size: 1.5rem !important;
}
h3{
  font-size: 1.2rem !important;
}
@import "mobile";