.top-menu {
  background: #5d5d5d; }

.top-tabs {
  margin-top: 20px; }
  .top-tabs .nav-item {
    font-size: 15px;
    margin-right: 5px; }
    .top-tabs .nav-item a {
      color: #64184f;
      padding: 10px 20px;
      font-weight: 700;
      background: #cac8c8;
      border-bottom: 1px solid #cac8c8; }
    .top-tabs .nav-item a:hover {
      background: #ffffff;
      border-bottom: 1px solid #cac8c8; }
    .top-tabs .nav-item .active {
      background: #ffffff;
      border-bottom: 1px solid #ffffff; }
    .top-tabs .nav-item .active:hover {
      border-bottom: 1px solid #ffffff; }

.logo {
  max-height: 75px;
  max-width: 242px;
  margin: 10px 10px 20px 10px;
  width: 100%; }

.safety, .information {
  float: right;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  margin: 0;
  padding: 3px 9px; }
  .safety a, .information a {
    color: #64184f; }
    .safety a:hover, .information a:hover {
      text-decoration: none; }

.information {
  margin-top: 5px; }

.safety {
  display: inline;
  border-right: 1px solid #686767;
  border-bottom: 1px solid #686767;
  border-left: 1px solid #686767;
  min-height: 30px;
  border-radius: 0 0 10px 10px;
  padding: 7px 8px 7px;
  background: #ccc; }
  .safety img {
    margin-right: 10px; }
    .help-block-error{
      color: red;
    }

footer {
  padding: 30px 0;
  background: #333;
  color: #fff;
  font-size: 13px; }
  footer a {
    color: #fff; }
  footer a:hover {
    text-decoration: none;
    color: #fff; }
  footer .nav-item {
    border-right: 2px solid; }
    footer .nav-item .nav-link {
      padding: 0 1em; }
  footer .nav-item:last-of-type {
    border-right: none; }
  footer .disclaimer {
    font-size: 85%;
    padding-left: 22px;
    margin-top: 20px; }

.inner-container {
  position: relative;
  margin-bottom: 20px; }
  .inner-container .slider {
    width: 100%; }
  .inner-container .richtext {
    position: absolute;
    text-align: right;
    right: 25px;
    top: 50px; 
    max-width: 375px;
    width: 100%;
  }
    .inner-container .richtext h2, .inner-container .richtext h3 {
      font-size: 18px;
      color: #64184f;
      text-align: left;
      /*text-shadow: 2px 1px 4px black;*/
      font-weight: bold;
      text-transform: uppercase; 
      margin-bottom: 20px;
    }
    .inner-container .richtext .disease {
      padding-right: 5px;
      box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
      background: #e6e6e6 url("/images/chevron.png") no-repeat 95% 90%;
      margin-bottom: 10px; 
      height: 80px;
    }
      .inner-container .richtext .disease a {
        color: #64184f;
        display: block;
        max-width: 330px;
        padding: 0 0 1px 0; }
      .inner-container .richtext .disease a:hover {
        text-decoration: none; }
      .inner-container .richtext .disease img {
        float: left;
        width: 75px;
        max-width: 100%;
        margin-right: 10px;
        margin-bottom: 10px; }
      .inner-container .richtext .disease p {
        text-align: left;
        padding-bottom: 4px;
        font-size: 16px; }
    .inner-container .richtext .blue {
      border-top: 5px solid #417ebe; }
    .inner-container .richtext .yellow {
      border-top: 5px solid #f3b91a; }

      .inner-container .richtext .yellow p{
        padding-top: 20px;
      }

.doc {
  background: #cccccc url("http://placehold.it/1140x410") no-repeat center;
  border-top: 2px solid #64184f;
  height: 440px; }
  .doc .inner-container {
    position: inherit; }
    .doc .inner-container .richtext {
      max-width: 450px;
      top: 5px; }
      .doc .inner-container .richtext h1 {
        font-size: 36px;
        color: #64184f; }
      .doc .inner-container .richtext h2 {
        color: #e72637;
        font-size: 18px;
        font-weight: 400; }

.content {
  padding-top: 20px;
  color:#333;
  /*color: #64184f;*/ }
  .content img {
    width: 100%; }
	.content b, .content strong, .content h2, .content h1, .content h4 {color: #64184f;}	
  .content .fl {
    float: left;
    padding: 0 20px 0 0; }
  .content .tab-block {
    margin: 20px 0; }
    .content .tab-block .tab-pane {
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      padding: 20px; }
    .content .tab-block .nav-tabs .nav-item {
      background: linear-gradient(to bottom, #dfe0e5 0, #dfe0e5 50%, #c8c9ce 51%, #c8c9ce 100%);
      color: #64184f;
      border-radius: 0;
      margin-right: 10px;
      padding: 0.5em 1em;
      display: block;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc; }
    .content .tab-block .nav-tabs .active {
      background: linear-gradient(to bottom, #711c5b 0, #711c5b 50%, #64184f 51%, #64184f 100%);
      color: #fff; }

.sidebar {
  padding-top: 20px;
  color: #333;}
  .sidebar b, .sidebar strong, .sidebar h2{color:#64184f;} 
  .sidebar .call-out {
    background: url("../images/callout_background.jpg") no-repeat center;
    border-top: 6px solid #ccc;
    background-size: cover; }
    .sidebar .call-out a {
      text-decoration: none;
      background: url("../images/callout-chevron-red.png") no-repeat 95% 24px;
      display: block;
      padding: 18px 40px 14px 12px; }
    .sidebar .call-out strong {
      color: #d42b39;
      font-size: 14px; }
    .sidebar .call-out p {
      font-size: 12px;
      color: #333; }

.isi-rule {
  padding-bottom: 20px;
  background: url("../images/isi-rule.png") no-repeat center bottom; }

.border-right {
  border-right: 1px solid #64184f; }

.section-menu {
  background: linear-gradient(to bottom, #711c5b 0, #711c5b 50%, #64184f 51%, #64184f 100%);
  border-bottom: 2px solid #a26393;
  font-weight: bold; }
  .section-menu a {
    color: white;
    font-size: 14px; }
  .section-menu a:hover {
    color: #64184f;
    background: linear-gradient(to bottom, #dfe0e5 0, #dfe0e5 50%, #c8c9ce 51%, #c8c9ce 100%); }
  .section-menu .nav-item:before {
    content: "";
    border-left: 1px solid #a47096;
    display: block;
    height: 100%;
    position: absolute; }
  .section-menu .nav-item:after {
    content: "";
    border-right: 1px solid #a47096;
    display: block;
    height: 100%;
    position: absolute;
    right: 15px;
    top: 0; }
  .section-menu .dropdown-menu {
    border: none;
    border-radius: unset;
    min-width: 19rem;
    padding-top: 0; }
    .section-menu .dropdown-menu .nav-item:before, .section-menu .dropdown-menu .nav-item:after {
      display: none; }

.dropdown-toggle::after {
  display: none; }

.yellow-border {
  border-top: 5px solid #f3b91a; }

.blue-border {
  border-top: 5px solid #417ebe; }

.related img {
  float: left;
  max-width: 180px;
  margin: 0 10px 0 0; }
.related a {
  color: #64184f;
  float: left;
  background: #e6e6e6; }
.related a:hover {
  text-decoration: none; }
.related h4 {
  font-size: 16px; }
.related p {
  font-size: 13px;
  color: #333; }

.related-header {
  /*color: #64184f;*/
color: #333;  }
 .related-header b, .related-header strong, .related-header h2, .related-header h1, .related-header h4 {color: #64184f;}
  .related-header .btn {
    background: #64184f;
    color: #fff;
    border-radius: 0;
    padding: 10px 35px;
    width: auto; }

.related-two .related {
  margin-bottom: 20px;
  float: left; }

.my-slider {
  background: url("../images/NSCLC_bluefacets_hero_background.jpg") repeat-x center; }
  .my-slider .carousel-item {
    background: white; }
  .my-slider .carousel-control-prev-icon {
    height: 46px;
    background: url("../images/carousel-left.png") no-repeat; }
  .my-slider .carousel-control-next-icon {
    height: 46px;
    background: url("../images/carousel-right.png") no-repeat; }
  .my-slider .carousel-indicators li {
    background-color: #dadada;
    height: 12px;
    max-width: 12px;
    border-radius: 10px; }
  .my-slider .carousel-indicators li.active {
    background-color: #333; }

.sub-slider {
  padding: 20px 5px 0 15px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #64184f;
  background: #f2f5f9 url("../images/chevron.png") no-repeat 95% 30px; }
  .sub-slider:last-of-type {
    border-right: none; }
  .sub-slider a {
    color: #333;
    text-decoration: none; }
    .sub-slider a:hover {
      text-decoration: none; }
  .sub-slider img {
    float: left;
    margin: 0 10px 0 20px;
    padding-bottom: 30%; }
  .sub-slider .sub-slider-block {
    padding: 0 30px 0 0; }
    .sub-slider .sub-slider-block h3 {
      font-size: 16px;
      font-weight: 700; }
    .sub-slider .sub-slider-block p {
      font-size: 13px; }

.my-header img {
  width: 100%; }

h1 {
  font-size: 2.0rem !important; }

h2 {
  font-size: 1.5rem !important; }

h3 {
  font-size: 1.2rem !important; }
  p {width: 100%;}  

@media (max-width: 1920px) {
  .mobile-image img {
    display: none; } }
@media (max-width: 1024px) {
  .doc {
    height: 400px; }
    .doc .inner-container .richtext h1 {
      font-size: 34px;
      text-align: left; } }
@media (max-width: 900px) {
  .inner-container .richtext {
    position: relative;
    top: 0;
    right: 0; }
    .inner-container .richtext h2 {
      color: #64184f;
      text-align: center;
      text-shadow: none;
      padding: 15px 0; }

  .sidebar, .content {
    font-size: 14px; }
    .sidebar h1, .content h1 {
      font-size: 20px; }
    .sidebar h2, .content h2 {
      font-size: 18px; }
    .sidebar h3, .sidebar h4, .content h3, .content h4 {
      font-size: 16px; }
	
  .doc .inner-container .richtext h1 {
    font-size: 28px;
    text-align: left; } }
@media (max-width: 736px) {
  .container {
    width: 100%; }

  .burger {
    background: #64184f;
    width: 87px;
    height: 100%;
    padding-top: 30px;
    float: right; }

  .nav-item {
    background: #898989;
    border-bottom: 1px solid #fff; }
    .nav-item .nav-link {
      padding-left: 45px; }

  .active {
   /* background: #64184f; */
   background: #ffffff;
   } 

  .navbar-nav a {
    color: #ffffff;
    font-size: 14px;
    padding: 20px; }

  footer .nav {
    display: block; }
    footer .nav .nav-item {
      border: none;
      width: 100%;
      background: none;
      padding-bottom: 10px; }

  .disclaimer {
    border-top: 1px solid #fff;
    padding-top: 20px; }

  .mobile-image img {
    display: block;
    width: 100%; }

  .doc {
    background: #fff;
    height: auto; }
    .doc .inner-container {
      margin: 0; }
      .doc .inner-container .richtext {
        max-width: 100%; }
        .doc .inner-container .richtext h1 {
          display: none; } }
@media (max-width: 375px) {
  .inner-container .richtext .disease {
    background: none; } }
@media (max-width: 360px) {
  .inner-container .richtext .disease a {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */

/*sergiy styles*/
 .red {
	color: #d42b39;
	font-size: 18px;
font-weight: bold;
margin-bottom: 20px;
}
	.zagolov2 {font-size:24px; color:#0e76bc; font-weight:700;}
	.zagolov3 {font-size:20px; font-style:italic; color:#0e76bc;}
	.zagolov3-centr {font-size:20px; font-style:italic; color:#0e76bc; line-height: 3;}
	.circle-spisok {background:#641950; border-radius: 30px 30px 30px 30px; font-size: 13px; color:white; display: inline-block; width: 30px; text-align: center; padding: 6px 0;}
	.p-spisok{color:#0e76bc;}
	.plashka {background:#bfa5b4; border-radius:50px 50px 50px 50px; border:none; padding: 5px 5px 5px 30px; margin: 0 5px 0 5px;}
	.normal-img{max-width:100%;}
	.left-img{float: left; margin: 0 5px 0 0;}
	.small-span {font-size:10px;}
	#myTab {width:100%;}
	.nav-tabs li a {
		background: #64184f;
color: #fff;
width: 300px;
	}
	.nav-tabs .nav-link.active {color: #64184f;}
	.tab-content {
		border: 1px solid #c8c9ce;
		padding: 30px;
		width: 100%;
	}
	

	ul li li {list-style-type: none;
text-indent: -0.85em;}
	ul li li::before {
    content: " - ";}
	
	.card table td { padding: 5px;}
/*sergiy styles end*/	
.modal-dialog .btn-primary{
      background: #64184f;
      border-radius:  25px;
      border-color:#410831; 
}
.carousel-control-next, .carousel-control-prev{
  width: 10% !important;
}